  .news {
    grid-area: news;
    color: #ED552F;
    font-size: 14px;
    height: 14px;
    }

  .more {
    grid-area: view;
    color: #141414;
    font-size: 14px;
    height: 14px;
    margin: 10px 10px;
    text-align: right;
    }

  a {
    text-decoration: none;
  }

  .main{
    height: 1px;
    grid-area: main;
    background: linear-gradient(50deg, #A9A9A9 0%, #FFFFFF 100%);
  }
  
  .image1 {
    grid-area: image1;
    text-align: center;
    font-size: 14px;
    margin: 5px;
    }

  .Number1 {
    grid-area: Number1;
    }
    
  .Number1 h2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    }

  .Number2, .Number3 {
    grid-area: Number2 Number3;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    }

    .maingrid {
      display: grid;
      max-width: 400px;
      grid-gap: 1em;
      grid-template-areas: 
      "news news news view view view"
      "main main main main main main"
      "image1 image1 Number1 Number1 Number1 Number1"
      "image1 image1 Number2 Number2 Number2 Number2"
      "image1 image1 Number3 Number3 Number3 Number3"
      "image1 image1 Number3 Number3 Number3 Number3";
    }